* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f2f5;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #acacac50;
}

.chat-container {
  background-color: #ffffff; /* чисто білий фон */
  border-radius: 12px;       /* закруглені краї */
  box-shadow: 0 4px 12px rgba(0,0,0,0.1); /* легка тінь */
  padding: 16px;
  height: 520px;             /* фіксована висота */
  overflow-y: auto;          /* вертикальний скрол */
}
